#vehicle-types .icon {
    background-image: url(../images/vehicle-types.png);
    background-repeat: no-repeat;
    background-size: 60px 715px;
    height: 32px;
    width: 60px;
    display: inline-block;
}
#quick-picks .icon {
    background-image: url(../images/quick-picks.png);
    background-repeat: no-repeat;
    background-size: 40px 812px;
    height: 30px;
    width: 45px;
    display: inline-block;
}
.home-banner {
    background-color: #115cb7;
    background-image: url(../images/home-bg.webp);
    background-size: cover;
    height: 591.6px !important;
}
@media (max-width: 1800px) {
    .home-banner {
        height: 600px;
    }
}
.how-it-works .bg-box {
    background-image: url(../images/how-it-works-box.webp);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 1.75rem 1.85rem 1.75rem;
}
.features .icon {
    width: 55px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../images/registration-icons.png);
    background-size: 100%;
}
.w-100 {
    width: 100% !important;
}